@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row featured__filter">

    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <partial name="_featuredProduct" model="@product" />
        </div>
    }
</div>
<div class="row">
    <div class="text-center">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="/Home/Index?page=@i">@i</a>
        }

    </div>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
       $('.basket').on('click',function(event){
           event.preventDefault();
           let id = $(this).data('id');
           
           
       });
    });
</script>
}