@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="text-center">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
             <a href="/Home/Index?page=@i">@i</a>
        }       
      
    </div>
</div>
